.App {
  text-align: center;
}

.personBox{
  background-color: rgb(173, 199, 143);
  padding: 10px; 
  margin: 5px;
  border: 2px solid rgb(3, 37, 0);
}

.red{
  color: red;
  background-color: transparent;
}

.underline{
  text-decoration: underline;
}

.btn01{
  padding:          5px;
  border:           2px solid #CCC;
  background-color: lightgreen;
  color:            black;
}